# Entorno virtual
Lib/
Scripts/
Include/
share/
pyvenv.cfg

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpeta de uploads
static/uploads/*

# Modelos pesados opcional
# modelo_emos.h5  <- si NO quieres subirlo
